{% load staticfiles %}

<html>
    <head>
        <title>Casamento Adri & Ary</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
          <h1><a href="/">Casamento Adri & Ary</a></h1>
          <br/><br/>
              <style>
              section{
              margin-left: 170px;
              border-left: 1px solid gray;
              padding: 1em;
              overflow: hidden;
              }
              </style>
              <section><img src="https://i.imgur.com/bN87jWT.jpg"alt="Foto Casal" style="width:600px;height:500px;"/></section>
        </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
