{% load staticfiles %}

<html>
    <head>
        <title>Casamento Adri & Ary</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <header>
        <h1>Casamento Adriano & Ariany</h1>
      </header>
      <nav>
        <a href="http://adrianochia.pythonanywhere.com/">Home</a>
        <a href="http://adrianochia.pythonanywhere.com/galeria">Galeria</a>
        <a href="http://adrianochia.pythonanywhere.com/rsvp">RSVP</a>
        <a href="http://adrianochia.pythonanywhere.com/evento">Evento</a>
        <a href="http://adrianochia.pythonanywhere.com/lista_presentes">Lista Presentes</a>
        <a href="http://adrianochia.pythonanywhere.com/contato">Contato</a>
       </nav>
        <br/><br/>
        <div>
          <img src="https://i.imgur.com/bN87jWT.jpg"  alt="Convite" style="width:500px;height:400px;">
          <h1>Dia 16/03/2019</h1>
        </div>
    </body>
</html>
