<!DOCTYPE html>
<html>
<title>Casamento Adriano & Ariany</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<body>
<div class="container" style="background-color:#ddd">
<!-- Navbar (sticky top) -->
<div class="fluid-container">
  <div class="navbar navbar-expand-sm fixed-top row">
    <a href="/home/" style="color: black" class="border col-lg">Home</a>
    <a href="/galeria/" style="color: black" class="border col-lg">Galeria</a>
    <a href="/evento/" style="color: black"  class="border col-lg">Evento</a>
    <a href="/lista_presentes/" style="color: black"  class="border col-lg">Lista Presentes</a>
    <a href="/rsvp/" style="color: black"  class="border col-lg">RSVP</a>
  </div>
</div>
<!-- Header / Home-->
<header class="fluid-container">
  <img class="img-fluid" src="https://i.imgur.com/v35d2BS.jpg" width="100%">
    <div class="jumbotron text-center">
      <h1 class="container">Adriano & Ariany</h1>
      <h2>Are getting married</h2>
      <h2><b>13.03.2019</b></h2>
    </div>
</header>
</div>
<!-- Footer -->
<footer class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom nav-justified-center">
  <p>Powered by <a href="/home/" title="Adriano Corporation" target="_blank">Adriano Corporation</a></p>
</footer>
</body>
</html>
