{% load staticfiles %}

<html>
    <head>
        <title>Casamento Adri & Ary</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <header>
        <h1>Casamento Adriano & Ariany</h1>
      </header>
  <nav>
        <a href="/home/">Home</a>
        <a href="/galeria/">Galeria</a>
        <a href="/rsvp/">RSVP</a>
        <a href="/evento/">Evento</a>
        <a href="/lista_presentes/">Lista Presentes</a>
        <a href="/contato/">Contato</a>
  </nav>
        <br/><br/>
        <div>
          <a href="https://bergersonpresentes.com.br/" target="_blank">Lista Bergerson</a>
          <br/><br/>
          <a href="http://www.camicado.com.br/" target="_blank">Lista Camicado</a>
          <br/><br/>
          <a href="http://www.tokstok.com.br/" target="_blank">Lista Tok Stok</a>
        </div>
        <br/><br/>
        <div>
          <img src="http://s4.weddbook.com/t1/8/0/3/803976/take-me-here.jpg" alt="havaí" style="width:300px;height:200px;">
          <p>Viagem para o Havaí!</p>
        </div>
    </body>
</html>
