<html>
    <head>
        <title>Casamento Adri Ary</title>
    </head>
    <body>
        <div>
            <h1><a href="">Casamento Adri Ary</a></h1>
        </div>
        <div>
        <img src="C:\Users\Adri\Pictures\JUQUEHY\112APPLE\IMG_2188.JPG"/>
        <div>
            <p>Data estimada: 18/03/2019</p>
            <h2><a href="">Lista de presentes</a></h2>
            <p>Todos que trouxerem presentes bons serão muito bem-vindos!</p>
        </div>
        <ul><li>primeiro item</li><li>segundo item</li></ul>
        <div>
        {% for post in posts %}
            <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        </div>
    </body>
</html>
