<!DOCTYPE html>
<html lang="pt-br">

{% extends 'blog/base.html' %}
{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<html>
    <head>
        <title>Casamento Adri & Ary</title>
    </head>
    <body>
        <div class="page-header">
        <h1><a href="/">Casamento Adri & Ary</a></h1>
        <img src="https://i.imgur.com/bN87jWT.jpg" alt="Foto Casal"/>
        </div>
        <div>
            <p>Data estimada: 18/03/2019</p>
            <h2><a href="">Lista de presentes</a></h2>
            <p>Todos que trouxerem presentes bons serão muito bem-vindos!</p>
            <p>É nóis!</p>
        </div>
        <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
    </body>
</html>
