<html>
    <head>
        <title>Casamento Adri Ary</title>
    </head>
    <body>
        <div>
            <h1><a href="">Casamento Adri Ary</a></h1>
        </div>
        <div>
            <p>Data estimada: 18/03/2019</p>
            <h2><a href="">Lista de presentes</a></h2>
            <p>Todos que trouxerem presentes bons serão muito bem-vindos!</p>
            <p>É nóis!</p>
        </div>
        <div>
       {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        </div>
    </body>
</html>
