<!DOCTYPE html>
<html>
<title>Casamento Adriano & Ariany</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("https://i.imgur.com/v35d2BS.jpg")}
</style>

<body>
<!-- Navbar (sticky top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="/home/" style="width:20%" class="w3-bar-item w3-button">Home</a>
    <a href="/galeria/" style="width:20%" class="w3-bar-item w3-button">Galeria</a>
    <a href="/evento/" style="width:20%" class="w3-bar-item w3-button">Evento</a>
    <a href="/lista_presentes/" style="width:20%" class="w3-bar-item w3-button">Lista Presentes</a>
    <a href="/rsvp/" style="width:20%" class="w3-bar-item w3-button w3-hover-black">RSVP</a>
  </div>
</div>

    
<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
  <h1>HOPE YOU CAN MAKE IT!</h1>
  <p class="w3-large">Favor responder até Outubro/2018</p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
  </p>
</div>


<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">Irá comparecer ao evento?</h1>
      <p>Contamos com a sua presença!</p>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Nome(s)" name="nome">
      </form>
      <p><i>Adriano & Ariany</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">#Partiu!</button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Não irei comparecer</button>
        </div>
      </div>
    </div>
  </div>
</div>     
  </div>
  </br></br></br>
  
  <!-- Footer -->
<footer class="w3-center w3-grey w3-padding-16">
  <p>Powered by <a href="/home/" title="Adriano Corporation" target="_blank" class="w3-hover-text-green">Adriano Corporation</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>
</body>
</html>


