
        /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      background: black;
      margin-bottom: 0;
      border-radius: 0;
    }
    jumbotron {
      background-color: white;
      margin-bottom: 0;}
    .header {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #555}
    
        /* Set black background color, white text and some padding */
    .footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  